# Node.js
node_modules
npm-debug.log
yarn-error.log
.pnp
.pnp.js
.vscode

# Logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules

# Python
*.pyc
*.pyo
__pycache__

# Environments
.env
.venv
env
env.bak
venv

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# IDEs
.idea
*.sublime-workspace
*.sublime-project

# Coverage
coverage
*.cover
.hypothesis
.pytest_cache

# Misc
*.swp
